/* You can add global styles to this file, and also import other style files */


.flex {
  display: flex;
  border: 1px solid black;
}

vf-nav {
  background-color: cornflowerblue;
  padding: 40px;
  border: 1px solid black;
}

.basic-margin {
  margin: 10px;
}
